

.container-login {
  background: linear-gradient(to right,#9380e9,#1371dc78);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 400px;
  text-align: center;
  position: relative;
  top: 20%;
  left: 40%;
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

.name,
.email {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #4facfe;
}

.Login {
  width: 100%;
  padding: 12px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Login:hover {
  background-color: #00c6fb;
}
